h1 {
  text-align: center;
   color: grey;   
}
h2 {
  text-align: center;
   color: grey;   
}
h3 {
   color: blue;   
}

input {    
	margin-top: 10px;
}

.div {
	border-radius: 25px;
	text-align: center;
	background-color: #cae7fc;
}
.file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}
.right {
  text-align: right;
}
.left {
  text-align: left;
}

.center{
	text-align: center;
}

.inline {
    display: inline-block;
}

input.invalid {
  border-color: red;
}

.button {
padding: 1px 60px;
color: #ff577b;
margin-top: 10px;
font-size: 20px;
background-color: #ffdfdb;
}

.timer{
  text-align: center;
  font-size: 80px;
  margin-bottom: 0px;
  margin-top: 10px;
  color: green;
}

header {
    margin: 1.5em 0 0 0;
}

a.top-link,
a.top-link:hover {
  color: #555;
  font-size: 35px;
  text-decoration: none;
  font-family: 'Homemade Apple';

}

ul, ol{
	margin:0.75em 0 1.5em 3em
}

li {
	margin: 0.5em 0;
}

.active a {
	border-bottom: 1px solid #000;
}

*:focus {
	outline: none;
}

summary {
	cursor: pointer;
}

.award {
	color: #B03A2E
}

.portrait{
  border-radius:5px;
  max-width:100%;
  height:auto;
  width:275px;
  position:relative;
  margin:-10px 0 0 15px;
}

.pagination .social-media-icons {
	float: left;
	margin: -10px 10px 10px 10px;
}

.social-footer {
	width: 100%;
	text-align: center;
}

.social-footer .social-media-icons {
	float: none;
	margin: 1em;
	display: inline-block;
}

.social-media-icons {
  color: #111;
  transition: all 0.3s ease-in-out;
}

.social-media-icons:hover {
	color: #2382c8;
}

@font-face {
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Avenir LT Std', sans-serif;
    font-size: 1.2rem;
    color: #333;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 1)
}

p {
    color: #222;
    font-size: 19px
}

label {
    color: #222;
    font-size: 19px;
}

strong {
    font-weight: 700
}

a {
    outline: 0;
    color: #2382c8;
    text-decoration: none
}

a:hover {
    text-decoration: underline
}

ul.nav li a {
    text-decoration: none
}

hr {
    margin: 20px 0 25px;
    text-align: center;
    letter-spacing: 3px;
    font-size: 20px;
    color: #ddd
}

.container,
.header-container {
    margin: 0 auto
}
.container {
    width: 80%;
    padding: 0 20px
}

ul.nav {
    margin: 0;
    padding: 8px 0
}

ul.nav li {
    display: inline-block;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 300
}

ul.nav li a {
    color: #000;
    margin-right: 10px;
    font-weight: lighter;
    padding-bottom: 5px;
}

